#conv_btn {
  cursor: pointer;
  font-size: 18px;
  background: #eee;
  width: 180px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px 0 #ccc ;
  margin-bottom: 30px;
}

#conv_btn:hover {
  opacity: 0.3;
}
#conv_btn.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}
